//Errors
form ul li.error {
  color: $errors;
}

form .error.form-control {
  border-color: $errors;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form .error.form-control:focus {
  border-color: $errors;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px $errors_shadow;
}

input:required,
textarea:required,
select:required,
input.required,
textarea.required,
select.required,
div.select2-container.required a.select2-choice {
  border-left: 2px solid $required;
}
