@mixin phone {
  @media only screen and (max-width: 480px) {
    @content
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content
  }
}
@mixin tablet-landscape {
  @media only screen and (max-width: 1024px) {
    @content
  }
}
//Medium Screen media query
@mixin medium-desktop {
  @media only screen and (max-width: 1199px) {
    @content
  }
}
//Large Screen
@mixin large-screen {
  @media only screen and (min-width: 1200px) {
    @content
  }
}
@mixin from-medium-desktop {
  @media only screen and (min-width: 769px) {
    @content
  }
}
@mixin from-screen-md {
  @media only screen and (min-width: 992px) {
    @content
  }
}